script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="/datatable/js.min/bootstrap-table.min.js")
script(src="/datatable/js.min/Chart.bundle.min.js")
script(src="/datatable/js.min/datatable.min.js")
link(rel="stylesheet" href="/datatable/css.min/bootstrap-table.min.css")
link(rel="stylesheet" href="/datatable/css.min/datatable.min.css")