//- Footer - Represents the foot of any page

footer(class="footer")
  div(class="container")
    p(class="text-muted text-center")
      a(href="https://github.com/iDroid27210/homer")
        i(class="fa fa-github-square fa-3x social")
      text 
      a(href="https://twitter.com/iDroid27210")
        i(class="fa fa-twitter fa-3x social")
      br
      text © Copyright 2017 iDroid - All Rights Reserved
