footer(class="footer homer-footer")
  div(class="container")
    div(class="row")
      div(class="col-sm")
        | Copyright &copy; 2018 - 
        a(class="homer-links" href="https://github.com/iDroid27210") iDroid27210
        br
        | !{__('dashboard.footer.discordProperty')}
        a(class="homer-links" href="https://discordapp.com" target="_blank") Discord, Inc.

      div(class="col-sm text-center")
        //-a(href="https://discordbots.org/bot/305277118105911296")
          img(src="https://discordbots.org/api/widget/status/305277118105911296.svg")

      div(class="col-sm text-right")
        | #{__('dashboard.footer.followMe')}
        br
        img(src="/images/icons/twitter.svg" height="20")
        a(class="homer-links" href="https://twitter.com/iDroid27210") @iDroid27210
        br
        img(src="/images/icons/discord.svg" height="20")
        span(style="font-family: monospace;") iDroid#4441