meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="theme-color" content="#7289DA")

meta(property="og:site_name" content="Homer - an all-in-one bot for Discord")
meta(property="og:title" content="Homer")
meta(property="og:description" content="Homer is an all-in-one Discord bot designed to be easy-to-use, reliable and featureful.")
meta(property="og:url" content="https://homer.idroid.me")
meta(property="og:image" content="https://homer.idroid.me/images/homer-icon.png")

title Homer
link(rel="icon" type="image/png" href="/images/homer-icon.png")

link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
link(rel="stylesheet" href="/css/homer.css")