<!DOCTYPE html>
html(lang=`${locale}`)
  head
    include modules/head.pug
    link(rel="stylesheet" href="/js/trumbowyg/dist/ui/trumbowyg.min.css")
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid")
      div(class="container text-center")
        h1(class="mbr-section-title mbr-bold mbr-fonts-style text-center") ✏ Edit an article
        hr
        form(action=`/admin/articles/edit?id=${article.id}` method="POST")
          div(class="form-group")
            label(for="title") Title
            input(type="text" class="form-control" name="title" id="title" value=`${article.title}`)
          br
          div(class="form-group")
            label(for="content") Content
            textarea(class="form-control" rows="5" name="content" id="content") #{article.content}
          br
          button(type="submit" class="btn btn-success") Edit the article
        
    include modules/footer.pug

    include modules/javascript.pug
    script(src="/js/trumbowyg/dist/trumbowyg.js")
    script(defer) $('#content').trumbowyg();