<!DOCTYPE html>
html
  head
    include modules/head.pug
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid homer-jumbotrons")
      div(class="container")
        div(class="row")
          div(class="col-sm homer-center")
            h2(class="homer-jumbo-h") #{__('dashboard.error.h2')}
            p(class="homer-jumbo-p") !{__('dashboard.error.p')}
          div(class="col-sm")
            img(class="rounded" src="/images/homer-brush.gif" height="275")

    include modules/footer.pug
    include modules/javascript.pug