<!DOCTYPE html>
html
  head
    include modules/head.pug
  body
    include modules/header.pug

    div(class="jumbotron jumbotron-fluid homer-jumbotrons")
      div(class="container")
        div(class="row")
          div
            h2(class="homer-jumbo-h") #{__('dashboard.introducing.h2')}
            p(class="homer-jumbo-p") !{__('dashboard.introducing.p')}
            br
            h2(class="homer-jumbo-h") #{__('dashboard.get.h2')}
            p(class="homer-jumbo-p") !{__('dashboard.get.p')}

          div(class="align-right")
            img(src="/images/homer-logo.png" height="200")
    
    include modules/footer.pug
    include modules/javascript.pug